<h1>Task Manager</h1>
<hr>
<h3>New Task</h3>
<form action="" method="post">
    <label for="">Task :</label>
    <input type="text" name="txtTask" id="">
    <input type="submit" value="Save">
</form>
